*{
	-webkit-box-sizing: border-box;
	padding:0;
	margin: 0;
}

body{
	font:300 17px/1.58 "Raleway", Arial, sans-serif;
  color: #262626;
}

/* Typography */
h1,h2{
	margin: 0;
}
a {
	text-decoration: none;
	color:#000;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	text-decoration: none !important;
	padding: 0 30px;
	line-height: 55px;
	height: 55px;
	width: 200px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #FF6033;
	vertical-align: middle;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
}




input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	opacity: 0.9;
}

input[type="submit"]:active,
input[type="button"]:active,
button:active,
.ba-button:active{
	box-shadow: none;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
display: inline-block;
    height: 56px;
    line-height: 48px;
    border: 1px solid #848789;
    padding: 0 30px;
    font-style: italic;
    font-weight: 400;
    vertical-align: middle;
    width: 570px;
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
.ba-text__white {
	color: #FFF;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-image {
	width: 100%;
}
/* Layout */
.ba-grid + .ba-grid {
    margin-top: 30px;
}
.ba-grid > [class*="ba-width-"] {
    float: left;
    padding-left: 30px;
}

.ba-grid {
    margin-left: -30px;
}

.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

.ba-header-baner {
	position: relative;
	padding: 50px 0 20px;
	min-height: 100vh;
	background:#fff url(../img/fresh.jpg) 50%;
	background-size: cover;
}

/* header */
.ba-header {
	height: 52px;

}
.ba-logo {
	line-height: 30px;
	font-size: 50px;
  font-family: "Pacifico";
  color: rgb(38, 38, 38);
}

.ba-menu {
	list-style:none;
	margin: 0;
	padding-left: 15px;
	line-height: 52px;

}
.ba-menu--item {
	display: inline-block;
	margin: 0 10px;
	font-weight: bold;
	border-top:2px solid rgba(255, 96, 51, 0);
	transition:all .3s linear;
	text-align: right;
}


.ba-menu--item:hover {
	border-top:2px solid rgba(255, 96, 51, 1);
}
.ba-baner {

	margin: 250px 0 200px;
}
.ba-fresh__scroll {
	position: absolute;
    left: calc(50% - 12px);
    top: 90vh;
}

.ba-scroll {
    position: absolute;
    bottom: 69px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    height: 40px;
    background: url(../img/scroll.png) no-repeat 50%;
    transition: transform .2s ease-in;
}

.ba-scroll:hover {
    transform: translateY(-10px);
}

.ba-title {
  font-size: 90px;
  font-weight: 700;
  color: #FFF;
}

.ba-title__black {
	color: #111;
	line-height: 25px;
	margin-bottom: 50px;
}
.ba-title-fresh {
	font-size: 60px;
	font-weight: 800;
}
.ba-title__small {
	font-size: 20px;
	line-height: 25px;
	margin: 50px 10px 20px;
}
.ba-baner-tittle__black {
	color: #262626;
}
.ba-content {
	font-weight: 300;
	margin:30px 0;
}
.ba-content__small {
	font-size: 13px;
	margin: 0 10px 20px;
}

.ba-about {
	background-color: #00B2B2;
	padding: 80px 0;
	color:#fff;
}


.ba-about-info {
	padding-left: 90px;
}

	/*ba-services*/

.ba-services {
	background-color: #70BFFF;
	padding: 180px 100px 150px ;
}
.ba-services-left {
	display: inline-block;
}
.ba-services__offer {
	background-color:  #ffffff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	width: 400px;
	height: 100px;
	font-family: Raleway;
	color:  #262626;
	font-size: 20px;
	font-weight: 700;
	line-height: 100px;/* Approximation due to font substitution */
	text-align: center;
	margin-bottom:20px ;
}

.ba-offer {
	list-style: none;
}
.ba-offer__item {
	background-color: #ffffff;
    height: 100px;
    font-size: 0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    max-width: 400px;
}

.ba-offer__text {
	display: inline-block;
    line-height: 1.3;
    font-size: 20px;
    width: calc(100% - 100px);
    margin: 0;
    vertical-align: middle;
    padding: 0 30px;
    text-align: center;
    font-weight: 700;
}
.ba-icon {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-left: 1px solid #9D9D9D;
    vertical-align: middle;
}
.ba-icon--cart {
	background-image: url(../img/icons/icon-cart.svg);
}
.ba-icon--quality {
	background-image: url(../img/icons/icon-quality.svg);
}
.ba-icon--globe {
	background-image: url(../img/icons/icon-globe.svg);
}
.ba-icon--carat {
	background-image: url(../img/icons/icon-carat.svg);
}
.ba-services__tomato {
	position: relative;
}
.ba-serveces__title {
	position: absolute;
	top: 130px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: auto;
	width: auto;
}

.ba-services__image {
	position: absolute;
	top:-70px;
}

	/* ba-gallery */
.ba-gallery {
background-color: #ffe92f;
padding: 100px 0 120px;
}

.ba-gallery--img {
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.ba-gallery--button {

	margin: 0 auto;
	margin-top: 50px;

}

.ba-button-gallery {
	background-color:  #5585a2;
}

/*ba-subscribe*/
.ba-subscribe {
	background:#fff url(../img/subscribe.jpg) no-repeat 50%;
	background-size: contain;
	height: 500px;
	padding: 140px 0 165px;
}
.ba-subscribe-tittle {
	font-size: 30px;
	text-align: left;
	color: #262626;
	line-height: 40px;
}
.ba-button--subscribe {
	background-color: #96b92c;
	width: 170px;
	min-height: 55px;
	border: 1px solid #96b92c;
}

/*.ba-blog*/
.ba-blog {
	background-color:  #b07cf7;
	color:#fff;
	padding: 120px 0 ;
}
.ba-blog-content {
	max-width: 563px;
}
.ba-blog--smoothies {
	background-image: url(../img/blog/smoothies.jpg);
	width: 370px;
	height: 310px;
	position: relative;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.ba-blog--soup {
	background-image: url(../img/blog/soup.jpg);
	width: 370px;
	height: 310px;
	position: relative;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.ba-blog--raspberries {
	background-image: url(../img/blog/raspberries.jpg);
	width: 370px;
	height: 310px;
	position: relative;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.ba-blog--date {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	vertical-align: middle;
    background-color: rgba(38, 38, 38, 0.5);
    width: 60px;
    height: 60px;
 	font-weight: 700;
 	border-radius: 6px;
 	top: 25px;
 	left: 25px;
 	font-size: 32px;
 	line-height: 25px;
 	padding: 5px;
}

.ba-blog--date>span {
	font-size: 21px;
	line-height: 25px;
	font-weight: 800;
}
.ba-blog--text {
	height: 50%;
	position: absolute;
	top:50%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.08) 5%, rgba(0,0,0,0.38) 23%, rgba(0,0,0,0.65) 39%, rgba(0,0,0,0.87) 80%, rgba(0,0,0,0.87) 86%, rgba(0,0,0,0.87) 95%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 5%,rgba(0,0,0,0.38) 23%,rgba(0,0,0,0.65) 39%,rgba(0,0,0,0.87) 80%,rgba(0,0,0,0.87) 86%,rgba(0,0,0,0.87) 95%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.08) 5%,rgba(0,0,0,0.38) 23%,rgba(0,0,0,0.65) 39%,rgba(0,0,0,0.87) 80%,rgba(0,0,0,0.87) 86%,rgba(0,0,0,0.87) 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#de000000',GradientType=0 );

}

.ba-blog-button {
	margin-top: 50px;
	text-align: center;
}

.ba-contact {
	background-image:url(../img/contact.jpg);
	background-size:cover;
	padding: 100px 0 120px;
	color:#111;
}

.ba-contact--form {
	background-color:  rgba(0, 196, 196, 0.5);
	max-width: 500px;
	height: 50px;
	margin-bottom: 15px;
	color:#fff;
	text-decoration: none;
}

.ba-contact--form:focus {
	background-color: #00c4c4;
    border-left: 5px solid #355b82;
}

.ba-textarea {
	height: 250px;
}
.ba-contact-info--title {
	font-size: 17px;
	line-height: 15px;

}
.ba-contact-info--text {
	font-size: 20px;
	margin: 0 0 15px;
}

/*footer*/
.ba-footer {
	background-color:  #262626;
	height: 90px;
	position: relative;
}
.ba-footer-content {
	color: #b9b9b9;
	font-size: 16px;
	line-height: 90px;
}

.ba-footer-content > span {
	color:red;
}
.ba-footer-logo {
	line-height: 90px;
	text-align: center;
}
.ba-footer--logo {
	vertical-align: middle;

}
.ba-author {
	text-align: right;
		color:#b9b9b9;
}

.ba-author>a {
		color:#b9b9b9;
}
